.chart-subtitle {
    -fx-font-size: 1.0em;
}

.chart-annotation-line {
    -fx-stroke-width: 1.0;
    -fx-stroke: black;
}

.chart-annotation-polygon {
    -fx-stroke-width: 1;
    -fx-stroke: black;
    -fx-fill: transparent;
}

.chart-annotation-text {
    -fx-font-size: 1.0em;
    -fx-text-alignment: center;
    
    -text-anchor-horizontal: center;
    -text-anchor-vertical: center;
    
}
 
