.chart-subtitle {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.0em;
}
.chart-symbol { /* hollow circle */
    -fx-background-color: #EE0909, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-symbol { /*  solid blue circle */
    -fx-background-color: #1939EE;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

.chart-annotation-text {
    -fx-text-fill: darkslategray;
    -fx-font-size: 12px;
    -fx-font-weight: bold;    
}


.chart-annotation-line {
    -fx-stroke-width: 1.5;
    -fx-stroke: gray;
}

.low-fire-behavior.chart-annotation-polygon {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
    -fx-fill: #807fff;
    -fx-opacity: 0.8;
}
.moderate-fire-behavior.chart-annotation-polygon {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
    -fx-fill: #7fc197;
    -fx-opacity: 0.8;
}
.active-fire-behavior.chart-annotation-polygon {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
    -fx-fill: #ffb38f;
    -fx-opacity: 0.8;
}
.very-active-fire-behavior.chart-annotation-polygon {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
    -fx-fill: #ff80ffff;
    -fx-opacity: 0.8;
}
.extreme-fire-behavior.chart-annotation-polygon {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
    -fx-fill: #e1807c;
    -fx-opacity: 0.8;
}